{% extends 'base.html' %}

{% load static %}



{% block content %}
   <!-- home
   ================================================== -->
<html>
<body>  
	<section id="home">
		<div class="overlay"></div><div class="gradient-overlay"></div>

		<div class="home-content-table" >		   

			<div class="home-content-tablecell">
				<div class="row">
					<div class="col-twelve">		   			
							<div class="home-bottom-text">
								<h3 class="animate-intro">Hello,</h3>
								<h1 class="animate-intro">
									I am Don Esrom, <br>
									Software Developer.<br>	
								</h1>	
								<ul class="home-section-links">
									<li class="animate-intro">More <a href="#about" class="smoothscroll">About Me</a></li>
									<li class="animate-intro">View <a href="#portfolio" class="smoothscroll">My Works</a></li>
									<li class="animate-intro">Contact <a href="#contact" class="smoothscroll">By Email</a></li>	
								</ul>
							</div> <!-- end home-bottom-text -->
					</div> <!-- end col-twelve --> 
				</div> <!-- end row --> 
			</div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->
			<a href="#about" class="scroll-icon smoothscroll">		
			<span class="icon-DownArrow"></span>
			</a>	
   </section> <!-- end home -->


   <!-- about
   ================================================== -->
	<section id="about">
		<div class="about-profile-bg"></div>
			<div class="about-wrap">
				<div class="about-profile">
					<div class="about-profile-bg"></div>

						<div class="intro">
							<h3 class="animate-this">About</h3>

							{% for about in abouts %}
							<h1 class="animate-this">{{about.Title}}.</h1>
							<p class="lead animate-this">{{about.Description|linebreaks}}</p>					
						</div> 
							{% endfor %}
							<p>
								<a href="contact" class="button full-width animate-this">Contact Me</a>
								<a href="{% static 'PDF/Esrom Thinji-CV.pdf'%}" class="button button-primary full-width animate-this" target="_blank">Download CV</a>
								<a href="https://github.com/Donesrom" class="button full-width animate-this" target="_blank">View My Github</a>
							</p>  			
			</div> <!-- end about-profile  -->

			<div class="about-services">
				<div class="intro">
					<h3 class="animate-this">Services</h3>
					<h1 class="animate-this">What I Do.</h1>
					<p class="lead animate-this">Here are some of the services I offer to my clients.</p>
				</div>
						
				{% for service in services %} 
				<ul class="services">
					<li class="item-branding animate-this">
						<div class="service-item">
							<h4>{{service.Title}}</h4>
							<p>{{service.Description|linebreaks}}.
							</p>
						</div>   					
					</li>
				{% endfor %}
					</li>
				</ul>   			
			</div> <!-- end about-services  -->   		
		</div> <!-- end about-wrap  -->
	</section> <!-- end about -->




   <!-- about
   ================================================== -->
	<section id="skills">
		<div class="overlay"></div>
		<div class="gradient-overlay"></div>
		<div class="row wide">
			<div class="col-skills">
				<div class="section-intro">
					<h3 class="animate-this">Skillset</h3>
					<h1 class="animate-this">I've Got Some Skills.</h1>
					<p class="animate-this">I am always looking to add new skills that will help me offer better services to my clients. Some of these skills include:</p>
				</div>
					<ul class="skill-bars">
						<li class="animate-this" data-animate="fadeInRight">
						{% comment %} <div class="progress percent90"><span>90%</span></div> {% endcomment %}
						<strong>Python</strong>
						</li>
						<li class="animate-this" data-animate="fadeInRight">
						{% comment %} <div class="progress percent85"><span>85%</span></div> {% endcomment %}
						<strong>Django</strong>
						</li>
						<li class="animate-this" data-animate="fadeInRight">
						{% comment %} <div class="progress percent70"><span>70%</span></div> {% endcomment %}
						<strong>Postgres</strong>
						</li>
						<li class="animate-this" data-animate="fadeInRight">
						{% comment %} <div class="progress percent95"><span>95%</span></div> {% endcomment %}
						<strong>Wordpress</strong>
						</li>
						<li class="animate-this" data-animate="fadeInRight">
						{% comment %} <div class="progress percent75"><span>75%</span></div> {% endcomment %}
						<strong>Heroku</strong>
						</li>   
						<li class="animate-this" data-animate="fadeInRight">
						{% comment %} <div class="progress percent90"><span>90%</span></div> {% endcomment %}
						<strong>AWS</strong>
						</li>   
					</ul>	
			</div> <!-- end col-six -->
		</div> <!-- end row wide -->
   </section> <!-- end skills -->



	<!-- portfolio
   ================================================== -->
    <section id="portfolio">
		<div class="row narrow section-intro with-bottom-sep">
			<div class="col-twelve">
				<h3 class="animate-this">Portfolio</h3>
				<h1 class="animate-this">See My Latest Projects.</h1>  
				
			</div>
		</div>






<!-- New Portfolio-->

<div class="row portfolio-content">
	<div class="col-twelve">
		<div id="folio-wrap" class="bricks-wrapper">					

			<div class="brick folio-item">
			<div class="item-wrap animate-this" data-src="{% static 'images/portfolio/wordpress.png' %}" data-sub-html="#01" > 	
			   <a href="#" class="overlay">
				   <img src="{% static 'images/portfolio/wordpress.png' %}" alt="WordPress site">	                     
				  <div class="item-text">
					  <span class="folio-types">
								WordPress Development 
							 </span>
							 <h3 class="folio-title">LQD Content</h3>	     					   
						  </div>                                        
			   </a>
			   <a href="https://lqdcontent.co.uk/" class='details-link' title="details">
				   <i class="icon-UpRightArrow"></i>
			   </a>
			</div> <!-- end item-wrap -->
				 
				 <div id="01" class='hide'>
					 <h4>Content WordPress Site</h4>
					 <p>I made a WordPress Content site that sowcases some of my written content. <a href="https://lqdcontent.co.uk/">Details</a></p>
				 </div>
			 </div> <!-- end folio-item -->

			 <div class="brick folio-item">
			<div class="item-wrap animate-this" data-src="{% static 'images/portfolio/portfolio.png' %}" data-sub-html="#02"> 	
			   <a href="#" class="overlay">
				   <img src="{% static 'images/portfolio/portfolio.png' %}" alt="Shutterbug">	                     
				  <div class="item-text">
					  <span class="folio-types">
								Portfolio
							 </span>
							 <h3 class="folio-title">Portfolio</h3>  	     					   
						  </div>                                        
			   </a>
			   <a href="https://donesrom.herokuapp.com" class='details-link' title="details">
				   <i class="icon-UpRightArrow"></i>
			   </a>
			</div> <!-- end item-wrap -->

			<div id="02" class='hide'>
					 <h4>Shutterbug</h4>
					 <p>My Portfolio Website. <a href="https://donesrom.herokuapp.com/">Details</a></p>
				 </div>	               
			 </div> <!-- end folio-item -->
{% comment "" %}
			 <div class="brick folio-item">
			<div class="item-wrap animate-this" data-src="{% static 'images/portfolio/skaterboy.jpg' %}" data-sub-html="#03" >   	
			   <a href="#" class="overlay">
				   <img src="{% static 'images/portfolio/skaterboy.jpg' %}" alt="Explore">	                     
				  <div class="item-text">	                     		     					    
							 <span class="folio-types">
								UI/UX Design
							 </span>
							 <h3 class="folio-title">Explore</h3>
						  </div>                                        
			   </a>
			   <a href="https://www.behance.net/" class='details-link' title="details">
				   <i class="icon-UpRightArrow"></i>
			   </a>
			</div> <!-- end item-wrap -->	

			<div id="03" class='hide'>
					 <h4>Explore</h4>
					 <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
				 </div>               
			 </div> <!-- end folio-item -->

			 <div class="brick folio-item">
			<div class="item-wrap animate-this"  data-src="{% static 'images/portfolio/skaterboy.jpg' %}"  data-sub-html="#04" >
			   <a href="#" class="overlay">
				   <img src="{% static 'images/portfolio/skaterboy.jpg' %}" alt="Minimalismo">	                     
				  <div class="item-text">	     					    
							 <span class="folio-types">
								Web Design
							 </span>
							 <h3 class="folio-title">Minimalismo</h3>
						  </div>                                        
			   </a>
			   <a href="https://www.behance.net/" class='details-link' title="details">
				   <i class="icon-UpRightArrow"></i>
			   </a>
			</div> <!-- end item-wrap -->

			<div id="04" class='hide'>
					 <h4>Minimalismo</h4>
					 <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
				 </div>  	               
			 </div> <!-- end folio-item -->

			 <div class="brick folio-item">
			<div class="item-wrap animate-this"  data-src="{% static 'images/portfolio/skaterboy.jpg' %}"  data-sub-html="#05" >  	
			   <a href="#" class="overlay">
				   <img src="{% static 'images/portfolio/skaterboy.jpg' %}" alt="Bicycle">	                     
				  <div class="item-text">	     					    
							 <span class="folio-types">
								Branding
							 </span>
							 <h3 class="folio-title">Bicycle</h3>
						  </div>                                        
			   </a>
			   <a href="https://www.behance.net/" class='details-link' title="details">
				   <i class="icon-UpRightArrow"></i>
			   </a>
			</div> <!-- end item-wrap -->

			<div id="05" class='hide'>
					 <h4>Bicycle</h4>
					 <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
				 </div>	               
			 </div> <!-- end folio-item -->
		
			 <div class="brick folio-item">
			<div class="item-wrap animate-this"  data-src="{% static 'images/portfolio/skaterboy.jpg' %}"  data-sub-html="#06">     	
			   <a href="#" class="overlay">
				   <img src="{% static 'images/portfolio/skaterboy.jpg' %}" alt="Salad">	                     
				  <div class="item-text">	     					    
							 <span class="folio-types">
								Photography
							 </span>
							 <h3 class="folio-title">Salad</h3>
						  </div>                                        
			   </a>
			   <a href="https://www.behance.net/" class='details-link' title="details">
				   <i class="icon-UpRightArrow"></i>
			   </a>
			</div> <!-- end item-wrap -->

			<div id="06" class='hide'>
					 <h4>Salad</h4>
					 <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
				 </div>	               
			 </div> <!-- end folio-item -->   				

		</div> <!-- end folio-wrap -->
	</div> <!-- end twelve -->
</div> <!-- end portfolio-content -->   	 {% endcomment %}



</section>  <!-- end portfolio -->


<!-- End Portfolio -->


{% comment %} 
	<center>
		<style>
		table, th, td {
		border:3px solid black;
		}
		</style>
	{% for project in projects %}

	<div>
		<table style="width:80%">
		<tr>
			<th>Project Name</th>
			<th>Project Description/Requirements</th>
			<th>Project Link</th>
		</tr>
	
		<tr>
			<td>{{project.Title}}</td>
			<td>{{project.Description|safe}}</td>
			<td>{{project.Project_link|safe}}</td>
		</tr>

		</table>
		{% endfor %}
	</div>
	
	</center> {% endcomment %}
						


	</section>  <!-- end portfolio -->



</body>
		<center>    				
			<br>
			<a href= "contact"><button type="button" class="btn btn-secondary" class= "animate this" target= "_blank">Contact Me</button>
		</center>
		

</html>
{% endblock %}